body {
	background-image: url("../img/gradientblue.png");
	background-size: cover;
}

.jumbotron {
	background-color: #06060600;
}

.card {
	background-color: #06060600;
	border-radius: 1em;
}

img {
	float: right;
}