<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
	<title>AlphaStore</title>
</head>
<body>
	<form action="#" method="post" id="myForm">
	<input type="text" name="vin" placeholder="Enter your VIN here">
	<input type="submit" value="Go">
	</form>

	<br>
	<h5 id="results" style="color: orange"></h5>

	<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
	<script type="text/javascript">

	$(document).ready(function() {
		$("#myForm").submit(function(e) {
			e.preventDefault();
			console.log('Form submitted');
			$.ajax({
				url: '/checkvin',
				type: 'post',
				data: $("#myForm").serialize()
			}).done(function(response) {
				var year = response['data'][8]['Value'];
				var model = response['data'][5]['Value'];
				var make = response['data'][7]['Value'];
				var resultText = "⭐️ We found a " + year + " " + model + " " + make + ".";

				$("#results").html(resultText);
			});
		});
	});

	</script>
</body>
</html>